.row {
    display: flex;  
    flex-wrap: wrap;
    justify-content: flex-end; 
}
.col-4 {
    width: 33.32%;
    height: 495px;
}
.col-6 {
    width: 49.98%;
}
.col-8 {
    width: 66.64%;
}
.col-12 {
    width: 100%;
}

/* Media Query Smartphone  */
@media (max-width: 767px){
.row {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 0px;
}
.col-4 {
    width: 100%;
    height: 430px;
    justify-content: center;
}
.col-6 {
    width: 100%;
}
}
